.footer {
  background-image: url("../../images/footer/photo-45.jpeg");
  @include bg-settings;
  width: 100%;
  color: $white;

  &__overlay {
    width: 100%;
    background-color: $color-overlay-darker;
  }
}

.back-to-top {
  background-color: $color-buttons;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10000;

  a {
    color: $white;
  }

  a:hover {
      color: $white;
  }
}

.footer-list {
  li a {
    color: $white;
    font-size: 20px;
  }

  li a:hover {
      color: $color-buttons-text;
      transition: 0.9s ease;
  }
}