.footer{
  background-image: url("../../images/footer/photo-45.jpeg");
  @include bg-settings;
  width: 100%;
  min-height: 700px;
  color: $white;

  &--overlay{
    width: 100%;
    min-height: 700px;
    background-color: $color-overlay-darker;

    .footer__list{
      li a {
        color: $white;
        font-size: 20px;

        &:hover{
          color: $color-buttons-text;
          transition: 0.9s ease;
        }
      }
    }

    .back-to-top{
      background-color: $color-buttons;
      width: 60px;
      height: 60px;
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 10000;

      a{
        color: $white;

        &:hover{
          color: $white;
        }
      }
    }
  }
}