@mixin bg-settings{
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-attachment: fixed;
  background-size:cover;
}


@mixin h2-title{
  text-align: center;
  color: $color-buttons-text;
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
}

